[Desktop Entry]
Name=Spotify
Comment=Listen To Music
Exec=/home/pi/.local/share/Spotify/spotify.sh
Terminal=false
Type=Application
Icon=spotify
Categories=Network;
StartupNotify=false

